:root {
  --main-color: #2e2f42;
  --secondary-color: #434455;
  --link-border-color: #8e8f99;
  --main-background-text-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --active-focus-hover-color: #4d5ae5;
  --botton-color: #404bbf;

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  color: var(--secondary-color);
  background-color: var(--main-background-text-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-link {
  margin-right: 76px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-contact-information {
  margin-left: auto;
}

.contact-information {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--active-focus-hover-color);
}

.title-logo {
  color: var(--main-color);
}

.header-menu-item-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-contact-information {
  font-style: normal;
}

.contact-info,
.contact-info {
  font-weight: 400;
  color: var(--secondary-color);
}

.header-menu-item-link:focus,
.header-contact-mail:focus,
.header-contact-phone:focus,
.header-menu-item-link:hover,
.header-contact-mail:hover,
.header-contact-phone:hover {
  color: var(--active-focus-hover-color);
}

.header-menu-link-studio:focus::after,
.header-menu-link-studio:hover::after,
.header-menu-link-portfolio:focus::after,
.header-menu-link-portfolio:hover::after,
.header-menu-link-contacts:focus::after,
.header-menu-link-contacts:hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: var(--active-focus-hover-color);
  border-radius: 2px;
  margin-top: 20px;
}

.header-menu-link-studio:focus::after,
.header-menu-link-studio:hover::after {
  width: 48px;
}

.header-menu-link-portfolio:focus::after,
.header-menu-link-portfolio:hover::after {
  width: 66px;
}

.header-menu-link-contacts:focus::after,
.header-menu-link-contacts:hover::after {
  width: 67px;
}
.main-section {
  background-color: var(--main-color);
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/main-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-background-text-color);
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.main-section-button {
  display: block;
  font-family: inherit;
  min-width: 169px;
  background-color: var(--active-focus-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-text-color);
  padding: 16px 32px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.main-section-button:focus,
.main-section-button:hover {
  background-color: var(--botton-color);
}

.main-section-article {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-section-article-header {
  display: none;
}

.main-section-article-list {
  display: flex;
  gap: 24px;
}

.article-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.main-section-article-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.main-section-article-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.our-principles-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
}

.section-article-header {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.our-products {
  padding-bottom: 120px;
}
.section-article-list {
  display: flex;
  gap: 24px;
}

.section-article-list-item {
  width: calc((100% - 3 * 16px) / 3);
  border: 1px solid #e7e9fc;
}

.main-section-our-team {
  background-color: var(--secondary-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-section-our-team-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.our-team-item-container {
  padding-top: 32px;
  padding-bottom: 32px;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.our-team-item-list {
  background-color: var(--main-background-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.header-our-team {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.our-team-item-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.our-team-item-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}

.our-team-item-social {
  padding-top: 32px;
  padding-bottom: 32px;
}

.our-team-item-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-icon {
  fill: var(--secondary-background-color);
}

.our-team-item-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--active-focus-hover-color);
  border-radius: 50%;
}

.our-team-item-social-link:hover,
.our-team-item-social-link:focus {
  background-color: #404bbf;
}

.our-team-item-social-icon {
  fill: #f4f4fd;
}

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customer-container-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--link-border-color);
  border-radius: 4px;
  height: 100%;
  color: var(--link-border-color);
}

.customer-container-item:hover,
.customer-container-item:focus {
  border-color: var(--botton-color);
  color: var(--botton-color);
}

.customer-logo {
  fill: currentColor;;
}

.customer-container-item:hover .customer-logo,
.customer-container-item:focus .customer-logo {
  fill: var(--botton-color);
}

.footer-section {
  background-color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-logo {
  margin-right: 120px;
}

.socials {
  margin-left: 120px;
}

.socials-list {
  display: flex;
  gap: 16px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.title-logo-footer {
  color: var(--secondary-background-color);
}

.footer-article {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background-color);
  max-width: 264px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--active-focus-hover-color);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.portfolio-main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-header {
  visibility: hidden;
}

.portfolio-main-filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-section-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--active-focus-hover-color);
  background-color: var(--secondary-background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.portfolio-section-button:hover,
.portfolio-section-button:focus {
  background-color: var(--botton-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-background-text-color);
  cursor: pointer;
  border: 1px solid transparent;
}

.portfolio-main-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-link {
  display: block;
}


.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-main-work-list-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-work-list-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.portfolio-work-list-kind {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
